.header{
    background-image: url('./Images/hero-cover.3.png');
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 20%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.HeaderLogn{
    display: flex;
    float: right;
    margin-top: 2px;
}
.Caption{
    margin-top: 400px;
    text-align: center;
    color: black;
}
.card1, .card2, .card3{
    display: inline-block;
    padding: 40px;
    max-width: 15%;
    margin-left: 10%;
    justify-content: center;
    border: solid blue;
    margin-top: 3%;
    
}
.card4, .card5, .card6{
        display: inline-block;
        padding: 20px;
        max-width: 15%;
        margin-left: 12%;
        justify-content: center;
        margin-top: 2%;
}
.Industry{
    text-align: center;
}
.card7, .card8, .card9{
    display: inline-block;
    padding: 20px;
    max-width: 15%;
    margin-left: 12%;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
}
.logos{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    height: 50px;
    align-content: center;
    margin-top: 5%;
    /* width: fit-content; */
}
.PurpleColor{
    display: inline;
}
.newsletter{
    background-color: blueviolet;
    display: flex;
    /* justify-content: space-between; */
    padding: 5px;
    margin-top: 5%;
}
.button2{
    text-align: right;
    margin-top: 2%;
}
.Pricing{
    text-align: center;
}
.card10, .card11, .card12{
    display: inline-block;
    padding: 20px;
    max-width: 15%;
    margin-left: 12%;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
    border: solid blue;
}
.card11{
    background-color: darkblue;
    height: 400px;
}
.WorldMap{
    background-color: darkblue;
    /* display:inline-flex; */
    margin-top: 10%;
    height: 100%;
}
.Wordings{
    color: white;
    display: flex;
}
.LoginPage{
    display: flex;
}
.Appointment{
    flex-grow: 3;
}
.LoginPage img{
    height: 404px;
}
.MoreLinks{
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
}